apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
spec:
  selector:
    matchLabels:
      app: myapp
  replicas: 5
  template:
    metadata:
      labels:
        app: myapp
    spec:
      imagePullSecrets:
      - name: ecr-registry-key
      containers:
      - name: myapp
        image: 288208893221.dkr.ecr.us-east-1.amazonaws.com/docker-ecr-test:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
